<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students List</title>
</head>

<body>
    <h2>Student List</h2>
    <% if (getStudent.length > 0) { %>
        <ul>
            <% getStudent.forEach(student => { %>
                <li>
                    <%= student.sName %> &nbsp;&nbsp;
                    <%= student.rollNo %> &nbsp;&nbsp;
                    <%= student.age %>
                </li>
            <% }); %>
        </ul>
    <% } else { %>
        <h3>No Student is Added</h3>
    <% } %>
</body>

</html>
    